.herosection {
  background-color: $blue;

  @include devices(tablet) {
    height: 85vh;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    flex: 1;
    padding-top: 2rem;
    height: fit-content;

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;

    @include devices(smalldisplay) {
      // padding-top: 10rem;
    }
  }

  &--para {
    font-size: 1.2rem;
    font-weight: 500;
    width: 95%;
    opacity: 0.5;
  }

  &--heading {
    width: 95%;
    font-size: 3.5rem;
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &--btnrounded {
    padding: 1.2rem 2rem !important;
    background-color: red;
  }

  &--btnghost {
    padding: 1rem;
  }

  &--playbutton {
    height: 3.5rem;
    width: 3.5rem;
  }

  &__offers {
    display: flex;
    gap: 2rem;
  }

  &__offer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &__right {
    display: none;

    @include devices(tablet) {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--heroimg {
    height: 60rem;
    width: auto;
    object-fit: contain;
    // background-color: red;
  }
}

.partners {
  background-color: #f4f6f9;

  &__wrapper {
    overflow: hidden;
  }

  &--heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    font-weight: 600;
  }

  &__group {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  &--partnerimg {
    width: auto;
    object-fit: contain;
    aspect-ratio: 16/9;
  }
}

.offers {
  background-color: #fcfcff;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;

    @include devices(tablet) {
      margin-bottom: 5rem;
      flex-direction: row;
    }
  }

  &__herodiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &--herotext {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &--heropara {
    font-size: 1.1rem;
    font-weight: 400;

    @include devices(tablet) {
      width: 70%;
    }
  }

  &__testimonial {
    background-color: #f4f6f9;
    border-radius: 0.3rem;
    padding: 3rem;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    @include devices(tablet) {
      width: 30rem;
    }
  }

  &__quote {
    position: absolute;
    top: -1rem;
    left: 2rem;
  }

  &--testimonial {
    font-size: 1rem;
    font-weight: 400;
  }

  &--author {
    font-size: 1.05rem;
    font-weight: 600;
  }

  &__group {
    display: grid;
    gap: 2rem;

    @include devices(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include devices(smalldisplay) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(grey, $alpha: 0.1);
    background-color: white;
    padding: 4rem;
    padding-top: 7rem;

    gap: 1.5rem;
    text-align: center;
    border-radius: 0.6rem;
    position: relative;
    border: 2px solid rgba(#b3b0b0, $alpha: 0.2);

    span {
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 1.2rem;
      font-weight: 600;
    }

    img {
      height: 3rem;
      width: auto;
      aspect-ratio: 1/1;
    }

    h4 {
      font-size: 1.6rem;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      opacity: 0.6;
      font-weight: 500;
      line-height: 1.8rem;
    }
  }
}

.trackpayments {
  background-color: #fcfcff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    flex: 1.2;
    display: none;

    @include devices(tablet) {
      display: flex;
    }
  }

  &__main {
    flex: 0.8;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    span {
      color: rgb(2, 2, 165);
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
    }

    h4 {
      font-size: 2.8rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      opacity: 0.6;
    }
  }

  hr {
    margin: 1rem 0;
    height: 3px;
    background-color: black;
    opacity: 0.5;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__guidance {
    display: flex;
    gap: 1rem;
  }
}

.whyus {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include devices(tablet) {
      gap: 5rem;
      flex-direction: row;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;

    span {
      color: rgb(2, 2, 165);
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
    }

    h4 {
      font-size: 2.8rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      opacity: 0.6;
    }
  }

  &__testimonial {
    margin: 2rem 0;
  }

  &--author {
    font-size: 1.05rem !important;
    font-weight: 600;
  }

  &__right {
    flex: 1;
  }
}

.feature {
  background-color: $blue;

  &__wrapper {
    h4 {
      font-size: 4rem;
      margin-bottom: 0.5rem;

      @include devices(tablet) {
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 1.1rem;
      opacity: 0.6;

      @include devices(tablet) {
        width: 30rem;
      }
    }
  }

  &__main {
    margin-bottom: 4rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 2rem;

    @include devices(smalldisplay) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    &__box {
      padding: 4rem 2rem;
      background-color: white;
      border-radius: 0.4rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      h4 {
        font-size: 1.6rem;
        margin-bottom: 0;
      }

      p {
        font-size: 1rem;
        opacity: 0.6;
        width: 100%;
      }
    }

    &__span {
      @include devices(tablet) {
        grid-column: 3/4;
      }
    }

    &__normal {
      @include devices(tablet) {
        grid-row: span 2;
      }
    }
  }
}

.testimonials {
  // background-color: green;

  &__wrapper {
    position: relative;
  }

  &--fill {
    position: absolute;
    top: 3rem;
    right: 10rem;
    height: 6rem;
    width: auto;
  }

  &__main {
    margin-bottom: 4rem;

    h4 {
      font-size: 4rem;
      margin-bottom: 0.5rem;

      @include devices(tablet) {
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 1.1rem;
      opacity: 0.6;

      @include devices(tablet) {
        width: 35rem;
      }
    }
  }

  &__group {
    display: flex;
    gap: 2rem;
  }

  &__testimonial {
    display: flex;
    padding: 2rem;
    position: relative;
    background-color: rgba(grey, $alpha: 0.1);
    border-radius: 0.5rem;

    &--figure {
      position: absolute;
      top: -1rem;
      left: 2rem;
    }

    &__main {
      display: flex;
    }

    &__content {
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.metrics {
  background-color: #222085;
  position: relative;

  &--icon {
    position: absolute;
    right: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: white;

    p {
      font-size: 1.2rem;
      width: 13rem;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-size: 1.3rem;

    h4 {
      font-size: 4rem;
    }

    img {
      margin-right: 1rem;
    }
  }
}

.vl {
  border-left: 3px solid white;
  height: 8rem;
}

.recentblogs {
  &--heading {
    margin-bottom: 3rem;
  }

  &__blog {
    background-color: rgba(grey, $alpha: 0.1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    overflow: hidden;

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem;
      gap: 1rem;

      span {
        text-transform: uppercase;
      }

      h4 {
        font-size: 1.5rem;
        width: 25rem;
      }
    }
  }

  &__blog2 {
    background-color: rgba(grey, $alpha: 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    width: 100%;
    border-radius: 0.3rem;

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      padding-bottom: 2rem;
      gap: 1rem;

      img {
        width: 100%;
        height: auto;
      }

      span {
        text-transform: uppercase;
      }

      h4 {
        font-size: 1.5rem;
      }
    }
  }

  &__group2 {
    gap: 2rem;
    display: grid;

    @include devices(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
