$PRIMARY: #4e47ba;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0.9rem 2rem;
  background-color: transparent;
  gap: 0.5rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
  }

  &--primary {
    background-color: $PRIMARY;
    color: white;

    &:hover {
      background-color: rgba($color: $primary, $alpha: 0.5);
    }
  }

  &--primaryrounded {
    background-color: $PRIMARY;
    color: white;
    border-radius: 5rem;

    &:hover {
      background-color: rgba($color: $primary, $alpha: 0.5);
    }
  }
}
