.u-container {
  padding: 0 1rem;

  @include devices(headerbreakpoint) {
    margin: 0 auto;
    max-width: 60rem;
  }

  @include devices(smalldisplay) {
    max-width: 70rem;
  }

  @include devices(largedisplay) {
    max-width: 80rem;
  }

  @include devices(largestdisplay) {
    max-width: 90rem;
  }
}

.u-section {
  padding: 5rem 0;

  @include devices(smalldisplay) {
    padding: 7rem 0;
  }
}

.u-section-heading {
  font-size: 4rem;
}
